<% if (rows.length) { %>
<%if(config.css){%><div class="<%=config.css%>"><%}%>
<%if(config.container){%><div class="container">
<%}
   rows.forEach(function(columns){ %>
   <div id="<%=uiId%>"  class="row<%if(config.fluid){%>-fluid<%}%>">
        <% columns.forEach(function(col){%>
           <div class="
           <%if(col.span){%>span<%=col.span%><%}%>
           <%if(col.offset){%>offset<%=col.offset%><%}%> 
           <%=(col.css?col.css:"")%> 
           "><%-col.body%></div>
        <%});%>
   </div>
<%});%>
<%if(config.container){%></div><%}%>
<%if(config.css){%></div><%}%>
<%}%>
