<%if(config.css){%><div class="<%=config.css%>"><%}%>
<%if(config.container){%><div class="container"><%}%>

<%if(config.title){%>
<div class="grid-title">
<h3><%-config.title%></h3>
</div>
<%}%>

<% if (rows.length) { %>
<%rows.forEach(function(columns){ %>
   <div id="<%=uiId%>"  class="row<%if(config.fluid){%>-fluid<%}%>">
        <% columns.forEach(function(col){%>
           <div class="
           <%if(col.config.span){%>span<%=col.config.span%><%}%>
           <%if(col.config.offset){%>offset<%=col.config.offset%><%}%> 
           <%=(col.config.css?col.config.css:"")%> 
           "><%-col.body%></div>
        <%});%>
   </div>
<%});%>
<%}%>

<%if(config.container){%></div><%}%>
<%if(config.css){%></div><%}%>
